<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="default.main">Notification service</a>
        </div>
    </div>
</nav>

<div notifications=""></div>