<h3>Create new notification</h3>
<button type="button" class="btn btn-primary" ui-sref="default.new">Create</button>

<h3>Receive data from the server</h3>
<button type="button" class="btn btn-default" ng-click="vm.loadNotifications()">Get notifications</button>
