<h3>New notification</h3>

<div class="panel panel-default">
    <div class="panel-body">
        <form name="newNotification" ng-submit="vm.createNotification()">
            <div class="form-group">
                <label for="notificationHeader">Title</label>
                <input type="text"
                       class="form-control"
                       id="notificationHeader"
                       maxlength="50"
                       ng-model="vm.notification.header"
                       required>
            </div>
            <div class="form-group">
                <label for="notificationBody">Message</label>
                <textarea class="form-control"
                          rows="3"
                          id="notificationBody"
                          maxlength="150"
                          ng-model="vm.notification.content"
                          required>
                </textarea>
            </div>
            <div class="form-group">
                <label for="notificationType">Category:</label>
                <select class="form-control"
                        id="notificationType"
                        ng-model="vm.notification.category"
                        ng-options="category for category in vm.categories">
                </select>
            </div>
            <div class="form-group">
                <label>Confirm:</label>

                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default"
                           ng-class="{active: type.value == vm.notification.type}"
                           ng-repeat="type in vm.types">
                        <input type="radio" ng-model="vm.notification.type" ng-value="type.value">{{type.name}}
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <button type="button" class="btn btn-default" ui-sref="default.main">Back</button>
        </form>
    </div>
</div>
