<div class="notifications">
    <div class="alert alert-info" ng-show="vm.sliceFlag">
        <a href="" ng-click="vm.loadPrevious()">Load previous notifications...</a>
    </div>
    <div class="alert"
         ng-class="notification.klass"
         ng-repeat="notification in vm.notifications track by $index">
        <div>
            <b>{{notification.header}}</b>
            <span class="glyphicon glyphicon-remove pull-right pointer"
                  ng-click="vm.close(notification.id)"
                  ng-if="notification.type == 'note'">
            </span>
        </div>

        {{notification.content}}

        <div class="clearfix" ng-if="notification.type == 'ok_confirm'">
            <button type="button"
                    class="btn btn-success btn-xs pull-right"
                    ng-click="vm.confirm(notification, 1)">Ok
            </button>
        </div>
        <div class="clearfix" ng-if="notification.type == 'ok_cancel_confirm'">
            <div class="btn-group pull-right" role="group">
                <button type="button"
                        class="btn btn-success btn-xs"
                        ng-click="vm.confirm(notification, 1)">Ok
                </button>
                <button type="button"
                        class="btn btn-danger btn-xs"
                        ng-click="vm.confirm(notification, 0)">Cancel
                </button>
            </div>
        </div>
    </div>
</div>