body {
    padding-top: 70px;
}

.notifications {
    position: fixed;
    z-index: 9999;
    top: 20px;
    right: 20px;
}

.notifications > div {
    position: relative;
    margin: 5px 0;
    word-wrap: break-word;
    width: 350px;
}

.pointer {
    cursor: pointer;
}
